
.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(61,48,48,0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(61,48,48,0.25);
	height: 1.5rem;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
}

.yo{
	padding-left: 10rem;
	padding-right: 10rem;
}