.container-form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}

/* .container-form:hover{
	transform: translate3D(0,-1px,0) scale(1.03);
} */
.form-container {
	background: rgba(61,48,48,0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(61,48,48,0.25);
	border-radius: 12px;
	width: fit-content;
}
.form-title {
	color: white;
}

.platform-selector{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#descr {
	width: 300px;
	height: 150px;
}

#name {
	width: 200px;
}

.select {
	padding: 5px;
}

.submit-btn {
	background-color: black;
	width: 5rem;
	border-radius: 12px;
	color: white;
}

.submit-btn:disabled {
	background-color: red;
}
.submit-btn:disabled:hover{
	background-color: red;
}
.submit-btn:hover{
	background-color: white;
	border-radius: 12px;
	color: black;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .5s ease;
}
.form:hover{
	transform: translate3D(0,-1px,0) scale(1.03);
}

.form-item {
	padding: 1rem;
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.form-item-selected {
	padding: 0rem;
	color: white;
}

.text-input{
	width: 25%;
	margin-left: 0;
}
textarea {
	width: 30%;
	height: 75px;
}

.releaseDate {
	width: auto;
}

.rating {
	width: auto;
}

.platformSelector {
	display: inline-block;
}

.select {
	display: inline-block;
	align-items: center;
}

.error {
	color: red;
}

hr {
	border-style: none;
}
p {
	padding: 1rem;
}