* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.navbar-container {
	top: 0;
	left: 0;
	right: 0;
	text-decoration: none;
	z-index: 1;
	display: flex;
	background: rgba(61,48,48,0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(61,48,48,0.25);
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 3rem;
}
li {
	display: inline-block;
	width: fit-content;
	padding-right: 4rem;
	padding-left: 4rem;
}

.btn {
	color: white;
}


