.card-container{
	max-width: 300px;
	margin: 0 auto;
	margin-top: 20vh;
}

.card {
	padding: 8px;
	border-radius: 12px;
	background: rgba(61,48,48,0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(61,48,48,0.25);
}

.card:hover{
	background: rgba(255,255,255,0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255,255,255,0.25);
}


.card-header {
	font-size: 1.25rem;
	padding: 1rem;
}

.card-body {
	font-size: 1rem;
	padding: 1rem;
}

.card-rating {
	font-size: 1rem;
	padding: 1rem;
}

img{
	width: 100%;
	border-radius: 12px;
	height: 214px;
	object-fit: cover;
}
